{
    "database": {
        "username": "your_username",
        "password": "your_password",
        "host": "database_host",
        "name": "your_database"
    },
    "communication": {
        "protocol_type": "json",  // or "wire", "grpc"
        "host": "127.0.0.1",
        "port": 13570
    },
    "env": "production"  // "production" or "debug"
}
